body
{
	text-align:center;
	background-color:#0000CA;
	color:white;
	border-color:white;
}

.formulaire
{
	border: 1px solid white;
	border-radius: 10px;
	width:30%;
	color: black;
	border-color: white;
	background-color: #0692F9;
	text-align:center;
	margin: 0 auto 10px auto;
	padding : 10px 0;
}
