.secteur_gestion_du_compte
{
    padding: 1% 2% 1% 2%;

}

.secteur_gestion_du_compte h2
{
    margin-left: 1%;
    text-align: left;
}

.secteur_gestion_du_compte p
{
    margin-left: 5%;
    text-align: left;
}

.popup
{
    display:none;
    
}

.dialog_modifier_code h1
{
    font-size: 1.5em;
}

.div_message_d_erreur
{
    display: none;
    margin: 0;
    padding: 0;
}
.message_d_erreur
{
    color : red;
    margin-bottom: 0;
}
.div_modifier_code
{
    width: 100%;
}

.validation_message_d_erreur{
    height: 2em;
}