#tableau_liste_exercice tbody tr:nth-child(odd) td {
	background-color: #f4fbff;
}
		
#tableau_liste_exercice tbody td {
	text-align:center;
	vertical-align:middle;
}
		
#tableau_liste_exercice tfoot th{
	background-color: #508abb;
	color: #FFFFFF;
	border-color: #6ea1cc !important;
	text-transform: uppercase;
	text-align:center;
}


#tableau_liste_exercice thead th {
	background-color: #508abb;
	color: #FFFFFF;
	border-color: #6ea1cc !important;
	text-transform: uppercase;
	text-align:center;
}

#tableau_liste_exercice{
	padding-top: 1em;
}


.cadreTableau {
	padding: 20px 15%;
}